---
title: "Grid Project | Natalie Kozlowski"
caseName: "Grid Project"
date: 2014-09-18
category: webDesign
subtitle: Website Design
preview: "../images/grid_project/pre_grid.png"

caseColor: #7dbd16
---

%section.detailView
  .row
    %h1
      = data.page.caseName
      %span= data.page.subtitle
    %p
      One summer in Atlanta I decided to take a web design class at the Creative Circus art school. I was interested in keeping my design skills sharp while also learning new techniques to use at my fulltime job. I worked on a lot of fun projects that summer, and had the chance to practice a wide variety of design skills including branding, mobile design, content design and more. The "Grid Project" was a particularly fun project in which we had to take a website (any website) and redesign it four differnet ways in different grid systems. From left to right, the following mockups are my redesign of a ski resort website I stumbled across: 9-column grid, 12-column grid, compound grid, diamond grid. Click on an image below to view a larger version!
    %section.grid_project
      = link_to image_tag( '/images/grid_project/fullscreen_grid1.png', :alt => "Creative Circuis Grid Project original", :class => "ss"), '/images/grid_project/fullscreen_grid1.png'
      = link_to image_tag( '/images/grid_project/fullscreen_grid2.png', :alt => "Creative Circuis Grid Project 9 column", :class => "ss"), '/images/grid_project/fullscreen_grid2.png'
      = link_to image_tag( '/images/grid_project/fullscreen_grid3.png', :alt => "Creative Circuis Grid Project 12 column", :class => "ss"), '/images/grid_project/fullscreen_grid3.png'
      = link_to image_tag( '/images/grid_project/fullscreen_grid4.png', :alt => "Creative Circuis Grid Project grid layout", :class => "ss"), '/images/grid_project/fullscreen_grid4.png'
